In [22]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier

In [3]:
data=pd.read_excel('C:/Users/Vishal/Desktop/LU aiml/Data/Bank_Personal_Loan_Modelling.xlsx',sheet_name=1)
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
ID                    5000 non-null int64
Age                   5000 non-null int64
Experience            5000 non-null int64
Income                5000 non-null int64
ZIP Code              5000 non-null int64
Family                5000 non-null int64
CCAvg                 5000 non-null float64
Education             5000 non-null int64
Mortgage              5000 non-null int64
Personal Loan         5000 non-null int64
Securities Account    5000 non-null int64
CD Account            5000 non-null int64
Online                5000 non-null int64
CreditCard            5000 non-null int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [5]:
data.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [6]:
data=data.drop(['ID','ZIP Code'],axis=1)
data.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

# The target variable is Personal Loan which is binary categorical

# Using Random Forest, we need to find the IDV that are majorly affecting the Personal Loan

In [7]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [9]:
y=data[['Personal Loan']]
y.head()

   Personal Loan
0              0
1              0
2              0
3              0
4              0

In [10]:
x=data.drop(['Personal Loan'],axis=1)
x.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,1,0,0,0
1,45,19,34,3,1.5,1,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,1

In [23]:
rf_model.fit(x,y)

C:\Users\Vishal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features=2, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [25]:
print('OOB Accuracy:')
print(rf_model.oob_score_)

OOB Accuracy:
0.9884

In [13]:
x.columns

Index(['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Securities Account', 'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [14]:
list=['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Securities Account', 'CD Account', 'Online', 'CreditCard']

In [15]:
for i, imp in zip(list,rf_model.feature_importances_):
    print(i,' : ', imp)

Age  :  0.04509478014041288
Experience  :  0.04508953957037145
Income  :  0.341313402843146
Family  :  0.09891851363994505
CCAvg  :  0.18364281197786964
Education  :  0.16400258379336619
Mortgage  :  0.04467781193759699
Securities Account  :  0.005473960032559981
CD Account  :  0.05379937278766236
Online  :  0.008270493917626067
CreditCard  :  0.009716729359443467

# Important features are Income, CCAvg, Education, Family

In [18]:
impvar=data[['Income', 'CCAvg', 'Education', 'Family']]
impvar.head()

   Income  CCAvg  Education  Family
0      49    1.6          1       4
1      34    1.5          1       3
2      11    1.0          1       1
3     100    2.7          2       1
4      45    1.0          2       4

In [19]:
tree_model=tree.DecisionTreeClassifier(max_depth=8)
tree_model.fit(impvar,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=8,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [20]:
with open('Dtree3.dot','w') as f:
    f=tree.export_graphviz(tree_model,feature_names=['Income', 'CCAvg', 'Education', 'Family'],out_file=f)

In [21]:
tree_model.score(impvar,y)

0.9956

# The accuracy of the model has increased to __99.5%__ by considering Income, CCAvg, Education, Family as independent variable.