# Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [11]:
email = "ankush@ScholasticAcademy.co.in"
print("Input Email:",email)
names = email.split("@")
names
compname = names[1].split(".")
print("company name:",compname[0])

Input Email: ankush@ScholasticAcademy.co.in
company name: ScholasticAcademy

Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [18]:
str="my name is ankush"
fline=str.split()
print(fline)
fline.sort()
fline

['my', 'name', 'is', 'ankush']

['ankush', 'is', 'my', 'name']

# Question 3:
Create your own Jupyter Notebook for Sets.

# Sets

A set is an advanced data type in Python. It is an ordered collection of elements.

The elements of set does not follow indexing.

Set is made by writing elements in curly brackets {}.

In [59]:
shoplist={'Apple','Egg','Milk','Cheese'}
shoplist

{'Apple', 'Cheese', 'Egg', 'Milk'}

Set writtens all the elements once i.e it discards the repetition of elements.

In [60]:
shoplist={'Apple','Egg','Milk','Cheese','Apple','Cheese'}
shoplist

{'Apple', 'Cheese', 'Egg', 'Milk'}

Sets are unordered, so you cannot be sure in which order the items will appear. Hence, Set does not follow indexing.

In [61]:
# Example: Below code will give Error
shoplist[2]

TypeError: 'set' object is not subscriptable

T0 Access the elements in the set, we can use FOR Loop.

In [62]:
for i in shoplist:
    print(i)

Cheese
Apple
Milk
Egg

# You can Check whether Jack told you to bring 'Milk' or not!

In [63]:
'Milk' in shoplist

True

# Jack said dont forget to bring Meat

In [64]:
shoplist.add('Meat')
shoplist

{'Apple', 'Cheese', 'Egg', 'Meat', 'Milk'}

In [65]:
shoplist.update(["orange", "mango", "grapes"])
shoplist

{'Apple', 'Cheese', 'Egg', 'Meat', 'Milk', 'grapes', 'mango', 'orange'}

We can count the number of elements in the set using the len() function.

In [66]:
len(shoplist)

8

# Jack said we are vegetarian, dont bring Meat. Lets remove it.

In [56]:
shoplist.remove('Meat')
shoplist

{'Apple', 'Cheese', 'Egg', 'Milk', 'grapes', 'mango', 'orange'}

# Union of two sets

In [67]:
set1 = {"apple", "banana" , "cherry"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'apple', 2, 3, 'banana', 'cherry'}

In [68]:
set3.issuperset(set1)

True

# Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5

In [81]:
num=[1,2,4,5,6,7,8,9,10]
print(num)
print('Missing numbers in the above list from 1 to 10')
sum_num=sum(num)
tot=0
for i in range(1,11):
    tot+=i

missing= tot-sum_num
print(missing)

[1, 2, 4, 5, 6, 7, 8, 9, 10]
Missing numbers in the above list from 1 to 10
3

#  Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35

In [99]:
l="12 24 35 24 88 120 155 88 120 155"
l1=l.split()
#print(l1)
l2=set(l1)
#print(l2)
l3=[]
for i in l2:
    c=int(i)
    l3.append(c)
l3.sort()
for x in l3:
    print(x, end=" ")

12 24 35 88 120 155